<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório</title>

    <link href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" rel="stylesheet">

</head>
<body>
    <div>           
        <p style='color:blue; font-weight: bold;'>Listagem1 de passageiros</p>
        <% if (passengers.length > 0) { %>
            <% passengers.forEach(passenger => { %>
                <div>
                    <p><%= passenger.name %></p>
                    <p><%= passenger.flightNumber %></p>
                    <p><%= passenger.time %></p>
                </div>
            <%  }); %>
        <% } %>
        <p style='font-weight: bold;'><%=passengers.length%> passageiros</p>
    </div>
    <p style='font-weight: bold;'>Listagem de passageiros</p>
</body>
</html>
